.checkbox-list > * {
    display: block !important;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 4px;
}
/* We use Bootstrap screen breakpoints as a standard for our media queries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.checkbox-list {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.checkbox-list .checkbox-group fieldset {
    border: 2px groove #ececec;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.checkbox-list .checkbox-group fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .checkbox-list {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .checkbox-list {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .checkbox-list {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

/* 
    Extra large devices (extra large desktops, 1400px and up)
    Note this is not a bootstrap breakpoint
*/
@media (min-width: 1400px) {
    .checkbox-list {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
}